---
title: "Students"
parentTitle: "People"
parentUrl: "people.html"
layout: "peopletemplate"
isPage: true
---
				
<div class="col-padded"><!-- inner custom column -->

	<div class="row gutter"><!-- row -->
		
			<div class="col-lg-12 col-md-12">

						<figure class="news-featured-image">	
								<img src="/img/news-2.jpg" alt="Featured image-2" class="img-responsive" />
						</figure>
						
						<h1 class="page-title">Some Intro Bit About LUCI Students</h1>
						
						<div class="news-body">
						
								<p class="call-out">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium vulputate scelerisque. Nulla in suscipit risus. Nullam pulvinar augue in risus luctus, sed dapibus ipsum mattis.
								</p>
						
								<p>
								Duis ornare magna sit amet dui eleifend imperdiet. Aliquam at porta elit. Proin lorem lacus, tempus id diam sit amet, porttitor tempor lectus. Praesent id felis sagittis, suscipit ligula sed, condimentum nisi. In non commodo risus. Praesent fringilla ligula in orci consectetur pulvinar. Nunc facilisis metus pellentesque, vestibulum libero eget, varius elit. Aliquam sed gravida dui, a imperdiet eros. Cras dignissim libero id feugiat pharetra. Nullam ut bibendum est, sed tincidunt massa. 
								</p>
								
						</div>
				
				</div>
		
		</div><!-- row end -->
		
		<div class="row gutter k-equal-height"><!-- row -->
		
				<div class="col-lg-6 col-md-6 col-sm-12">
						<h6>First Column</h6>
						<p>
						Curabitur fringilla, massa sit amet ultricies iaculis, nisi lorem faucibus justo, eu interdum odio nunc eu lorem. Aliquam auctor id augue posuere. Duis ornare magna sit amet dui eleifend imperdiet. Aliquam at porta elit. Proin lorem lacus, tempus id diam sit amet, porttitor tempor lectus.
						</p>
				</div>
				
				<div class="col-lg-6 col-md-6 col-sm-12">
						<h6>Second Column</h6>
						<p>
						Maecenas mollis nisl ut diam condimentum, eu sagittis ante elementum. Nam tempus euismod elit, eu venenatis dolor cursus sed. Praesent id felis sagittis, suscipit ligula sed, condimentum nisi. In non commodo risus. Praesent fringilla ligula in orci consectetur pulvinar.
						</p>
				</div>
		
		</div><!-- row end -->           

</div><!-- inner custom column end -->
